# Python
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environments
.venv/

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/

# Tools
.mypy_cache/
.ruff_cache/

# Claude Code
.claude/
ct4c00784_si_001.pdf
TODO
analysis/r_group_fragmentation/250k_rndm_zinc_drugs_clean_3_brics_counts.csv

# Large data files
analysis/steric_maps/*.sdf
analysis/steric_maps/*_buried_shell.csv
analysis/steric_maps/*_buried_shell_summary.csv
